*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f0f8ff;
}

header{
    background-color: #000000;
    color:#f0f8ff;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    height: 70px;
    transition: 0.3s;
}

header:hover{
    height: 100px;
}

header h1{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 50px;
    cursor: pointer;
}

header img{
    width: 30px;
}

#pokeball{
    filter: invert(100%);
    width: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav h2{
    display: flex;
    align-items: center;
    gap: 5px;
}

nav a{
    color: #f0f8ff;
    text-decoration: none;
    cursor: pointer;
}

#pokemonbrand{
    width: 250px;
}

.logo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-block: 50px;
}

.dexcard{
    display: flex;
    align-items: stretch;
    gap: 10px;

    margin-inline: 40px;
    margin-block: 10px;

}

.stats{
    background-color: #c05503;
    padding: 20px;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.stats h2{
    margin-bottom: 10px;
}

.stats ul{
    list-style-type: none;
}

.stats hr{
    border: none;
    background-color: white;
    height: 2px;
    margin-block: 10px;
}

#tipo{
    display: flex;
    align-items: center;
    gap: 5px;
}

#firelabel{
    padding: 1px 6px;
    background-color: #743200;
    border-radius: 5px;
    color: white;
}

#flylabel{
    padding: 1px 6px;
    background-color: #a3e5ff;
    border-radius: 5px;
    color: #000418;
}

.dexcard img{
    height: 300px;
    background-color: #c7c7c7;
    margin: 0px;
    filter:grayscale(100%);

    border-radius: 0px 20px 20px 0px;
    transition: 0.3s;
}

.dexcard img:hover{
    filter:grayscale(0%);
}

.separation{
    border: none;
    background-color: #C7C7C7;
    height: 2px;
    margin-block: 20px;
    margin-inline: 40px;
}

/* ....................................................................................*/

.evolutionline{
    background-color: #c7c7c7;
    margin-block: 20px;
    margin-inline: 40px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
}

.arrows{
    width: 110px;
}

.tiny{
    width: 200px;
    margin: 10px;
    transition: 0.3s;
}

.tiny:hover{
    width: 250px;
}


/* ....................................................................................*/
.statswater{
    background-color: #3e6f9e;
    padding: 20px;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.statswater h2{
    margin-bottom: 10px;
}

.statswater ul{
    list-style-type: none;
}

.statswater hr{
    border: none;
    background-color: white;
    height: 2px;
    margin-block: 10px;
}

#waterlabel{
    padding: 1px 6px;
    background-color: #235380;
    border-radius: 5px;
    color: white;
}

/* ....................................................................................*/

.statsgrass{
    background-color: #398f6e;
    padding: 20px;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.statsgrass h2{
    margin-bottom: 10px;
}

.statsgrass ul{
    list-style-type: none;
}

.statsgrass hr{
    border: none;
    background-color: white;
    height: 2px;
    margin-block: 10px;
}

#grasslabel{
    padding: 1px 6px;
    background-color: #245844;
    border-radius: 5px;
    color: white;
}

#poisonlabel{
    padding: 1px 6px;
    background-color: #631a6d;
    border-radius: 5px;
    color: white;   
}